:root {
  --whiteboard-papers-container-background-color: var(--color-scale-gray-5);
  --whiteboard-papers-container-border-color: var(--color-scale-gray-4);
}
.whiteboard-papers-container {
  background-color: var(--whiteboard-papers-container-background-color);
  border-top: 3px solid var(--whiteboard-papers-container-border-color);
}
