:root {
  --whiteboard-rulers-container-background-color: var(--color-scale-gray-5);
}
.whiteboard-ruler-container {
  overflow: auto;
}

.whiteboard-ruler-container,
.whiteboard-rulers-corner-container {
  background-color: var(--whiteboard-rulers-container-background-color);
}
