:root {
  --svg-background-color: var(--color-scale-gray-4);
  --svg-container-background-color: white;
}

.whiteboard-container {
  overflow: auto;
}

.svg-background {
  position: relative;
  background-color: var(--svg-background-color);
}

.svg-container {
  position: absolute;
  background: url('/src/assets/grid.svg');
  background-color: white;
  box-shadow: 0px 0px 2px 1px #d1d1d1;
}
