:root {
  --whiteboard-background-color: var(--color-scale-gray-4);
}

.whiteboard-window-container {
  overflow: auto;
}

.whiteboard-background-container {
  position: relative;
  background-color: var(--whiteboard-background-color);
}

.whiteboard-container {
  position: absolute;
  box-shadow: 0px 0px 2px 1px #d1d1d1;
}
