*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// ::-webkit-scrollbar {
//   display: none;
// }

html {
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  color: var(--body-color);
}
