:root {
  --transition: all 0.15s ease-in-out;
  --font-family: 'Poppins', sans-serif;

  @media screen and (max-width: 426px) {
    --font-size: 45%;
  }

  @media screen and (min-width: 427px) and (max-width: 768px) {
    --font-size: 52%;
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    --font-size: 58%;
  }

  @media screen and (min-width: 1025px) and (max-width: 1920px) {
    --font-size: 62.5%;
  }
}
