:root {
  --toolbar-container-background-color: var(--color-scale-gray-5);
  --toolbar-container-border-color: var(--color-scale-gray-4);
  --icon-color: var(--color-scale-gray-1);
}
.toolbar-container {
  background-color: var(--toolbar-container-background-color);
  border-bottom: 3px solid var(--toolbar-container-border-color);
  display: flex;
  align-items: center;
  justify-content: center;

  & .iconify {
    margin: 0 0.4rem;
    font-size: 2.4rem;
    color: var(--icon-color);
    cursor: pointer;
  }

  & .line-separator {
    margin: 0;
  }

  & .to-front-icon {
    font-size: 2rem;
  }

  & .to-back-icon {
    font-size: 2.8rem;
  }

  & .shadow-icon {
    font-size: 2rem;
  }
}
