:root {
  --toolbar-container-background-color: var(--color-scale-gray-5);
  --toolbar-container-border-color: var(--color-scale-gray-4);
  --icon-color: var(--color-scale-gray-1);
  --user-action-icon-color-on-disabled-state: var(--color-scale-gray-3);
  --user-action-icon-color-on-hover-state: var(--primary-color);
  --icons-separator-background-color: var(--color-scale-gray-4);
}
.toolbar-container {
  background-color: var(--toolbar-container-background-color);
  border-bottom: var(--container-border-width) solid var(--toolbar-container-border-color);
  display: flex;
  align-items: center;
  justify-content: center;

  & .whitespace-icons-separator {
    margin-right: 5rem;
  }

  & .icons-separator {
    margin: 0 1rem;
    height: 70%;
    width: 0.2rem;
    border-radius: 100rem;
    background-color: var(--icons-separator-background-color);
  }

  & .color-icon-container {
    position: relative;
  }

  & .color-picker {
    z-index: 999;
    position: absolute;
    top: calc(100% + 2rem);
    left: 50%;
    transform: translateX(-50%);
  }
}
