.app-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 5rem 25rem 1fr 30rem;
  grid-template-rows: 4rem 1fr 3rem;
}

.navbar-container {
  grid-column: 1 / -1;
  grid-row: 1;
}

.toolbar-container {
  grid-column: 1;
  grid-row: 2 / -1;
}

.whiteboard-layers-container {
  grid-column: 2;
  grid-row: 2 / -1;
}

.whiteboard-container {
  grid-column: 3;
  grid-row: 2;
}

.whiteboard-papers-container {
  grid-column: 3;
  grid-row: 3;
}

.whiteboard-settings-container {
  grid-column: 4;
  grid-row: 2 / -1;
}
