@media screen and (min-width: 1439px) {
  .app-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 32rem 1fr 32rem;
    grid-template-rows: 5rem 1fr 27rem;
  }

  .navbar-container {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .left-sidebar-container {
    grid-column: 1;
    grid-row: 2;
  }

  .left-ads-container {
    grid-column: 1;
    grid-row: 3;
  }

  .workspace-container {
    grid-column: 2;
    grid-row: 2 / -1;
  }

  .right-sidebar-container {
    grid-column: 3;
    grid-row: 2;
  }

  .right-ads-container {
    grid-column: 3;
    grid-row: 3;
  }
}

@media screen and (max-width: 1439px) {
  .app-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4.5rem 1fr;
  }

  .navbar-container {
    grid-column: 1;
    grid-row: 1;
  }

  .workspace-container {
    grid-column: 1;
    grid-row: 2;
  }
}
