:root {
  --navbar-container-background-color: var(--color-scale-gray-5);
  --navbar-container-border-color: var(--color-scale-gray-4);
}
.navbar-container {
  background-color: var(--navbar-container-background-color);
  border-bottom: 3px solid var(--navbar-container-border-color);
}
