.whiteboard-container {
  height: 100vh;
  width: 100vw;

  & .resizable {
    & .resize-guide {
      width: 12px;
      height: 12px;
      border-radius: 100rem;
      background-color: #66bbfd;
      border: 2px solid white;
      opacity: 0;
      transition: var(--transition);
      transition-property: opacity;
      transition-duration: 350ms;
    }

    &:hover .resize-guide {
      opacity: 1;
    }
  }
}
