:root {
  --whiteboard-settings-container-background-color: var(--color-scale-gray-5);
  --whiteboard-settings-container-border-color: var(--color-scale-gray-4);
}
.whiteboard-settings-container {
  background-color: var(--whiteboard-settings-container-background-color);
  border-left: 3px solid var(--whiteboard-settings-container-border-color);
}
